.buttons-container {
    position: absolute;
    z-index: 999;
    
    display: flex;
    align-items: center;
    gap: 6px;

    left: 50%;
    bottom: 3%;
    transform: translate(-50%, 0);
}

.features__button {
    border-radius: 50%;
    background-color: #fff ;
    border: 1px solid #ccc;
}

.main__button {
    padding: 32px;
}

.redirect-location__button {
    padding: 24px;
   
}

.shadow--box {
	box-shadow: 0 1px 2px rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);
}